 body {
  background-image: url("../images/bg.png");
  background-size: cover;
} 

/* SIDE MENU */

.main-menu-logo {
  background-image: url("../images/restaurant_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  padding: 0;
}

.side-bar {
  background-color: rgb(99, 63, 31);
  min-width: 200px;
}

/* DASHBOARD HEADER */

.dashboard-header {
  font-family: 'Lobster', cursive;
  color: white;
  margin: 10px;
  background-color: rgba(99, 63, 31, .9);
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  border: #000;
  border-style: solid;
  border-radius: 10px;
}

.reservations-header {
  font-family: 'Comfortaa', cursive;
  color: white;
  margin: 10px;
  background-color: rgba(99, 63, 31, .9);
  margin-left: auto;
  margin-right: auto;

  border: #000;
  border-style: solid;
  border-radius: 10px;
}

/* RESERVATION CARDS and NO RESERVATION FOUND */

.reservations-not-found {
  font-family: 'Comfortaa', cursive;
  color: white;
  margin: 10px;
  background-color: rgba(123, 117, 117, 0.7);
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  border: #000;
  border-style: solid;
  border-radius: 10px;
}

.reservation-card {
  justify-content: center;
  border: #fff;
  border-style: solid;
  margin: 0 0 5px 5px;
  padding: 10px;
  width: 49%;
}

.cancelled-padding {
  padding: 23px;
}